# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.coverage
coverage/
htmlcov/

# IDE / Editors
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs & env
*.log
.env*
.cache/

# Project-specific
keys/

